.brand-name {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  font-style: normal;
  font-weight: 300;
}

.brand-name:hover {
  font-weight: 500;
  color: #111111;
}
