body {
  font-family: Raleway, Roboto, sans-serif;
}

.navbar-links {
  font-size: 25px;
}

.portfolio-item {
  font-size: 25px;
  color: #6c757d;
}

.navbar-link-icons {
  font-size: 20px;
}

.nav-image {
  width: 35%;
  min-width: 320px;
}

.featureImageTitle {
  z-index: -1;
}

.featureImageContainer {
  position: relative;
}

.image-container {
  cursor: zoom-in;
}

.modal-image-container {
  cursor: zoom-out;
  padding: 0;
}

.modal-image-body {
  padding: 0;
}
